<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="http://localhost:8080/socket.io/socket.io.js"></script>

    <meta charset="utf-8">
    <title>Js CHAT SERVICE</title>
  </head>
  <body>
    <div id="app">

      <ul  id="messages">
        <li v-for="item in messages">
          {{ item }}
        </li>
      </ul>
      <input v-model="message" id="message" type="text">
      <button @click="send">
        Click To send
      </button>
    </div>
    <script >

      // const messages = document.getElementById("messages");
      // const message = document.getElementById("message");
    
      const socket = io("http://localhost:8080");
      socket.on('message', function(message) {
        console.log(message);
      });
      new Vue({
        el:"#app",
        data: {
          messages: [],
          message: '',
        },
        methods: {

          send() {
            
            if (this.message.length > 0) {
            
              this.messages.push( this.message);
              socket.emit('message', {data: this.message})
              console.log(this.message);
              console.log(this.messages);
            }
            this.message = "";
          // socket.emit('chat-message', {
          //     message: this.newMessage,
          //     user: this.username
          // });
        }

      }
      })
    </script>

  </body>
</html>