@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* main colors */
    --color-lotion: 253 253 249;
    --color-spaceCadet: 19 41 82;
    --color-pictonBlue: 45 191 240;
    --color-cornflowerBlue: 38 71 125;
    --color-queenBlue: 71 100 158;

    /* secondary colors */
    --color-crayola: 255 175 39;
    --color-electricGreen: 0 255 25;
    --color-yonder: 161 176 203;
    --color-red: 255 0 0;
  }

  @font-face {
    font-family: Beaufort;
    font-weight: 500;
    src: url(https://s.lolstatic.com/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Regular.woff)
      format("woff");
  }

  @font-face {
    font-family: Beaufort;
    font-weight: 600;
    src: url(https://s.lolstatic.com/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Bold.woff)
      format("woff");
  }

  /* @font-face {
    font-family: Beaufort;
    font-weight: 600;
    src: url(https://s.lolstatic.com/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Heavyitalic.woff)
      format("woff");
  } */

  @font-face {
    font-family: Spiegel;
    font-weight: 500;
    src: url(https://s.lolstatic.com/awesomefonts/1.0.0/Fonts/Spiegel-Regular.woff)
      format("woff");
  }

  @font-face {
    font-family: Spiegel;
    font-weight: 600;
    src: url(https://s.lolstatic.com/awesomefonts/1.0.0/Fonts/Spiegel-SemiBold.woff)
      format("woff");
  }

  @font-face {
    font-family: Spiegel;
    font-weight: 700;
    src: url(https://s.lolstatic.com/awesomefonts/1.0.0/Fonts/Spiegel-Bold.woff)
      format("woff");
  }
  /* @font-face {
    font-family: Spiegel;
    font-weight: 800;
    src: url(https://s.lolstatic.com/awesomefonts/1.0.0/Fonts/Spiegel-SemiBolditalic.woff)
      format("woff");
  }
  @font-face {
    font-family: Spiegel;
    font-weight: 900;
    src: url(https://s.lolstatic.com/awesomefonts/1.0.0/Fonts/Spiegel-Bolditalic.woff)
      format("woff");
  } */
}
