@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

/* base styles fonts and h1,h2.. */

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  /* Fonts */
  /* Beaufort for LOL Light */
  @font-face {
    font-family: "Beaufort";
    src: url("/src/assets/Fonts/BeaufortforLOL-Light.woff") format("woff");
    font-weight: 200;
    font-style: normal;
  }

  /* Beaufort for LOL Normal */

  @font-face {
    font-family: "Beaufort";
    src: url("/src/assets/Fonts/BeaufortforLOL-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

  /* Beaufort for LOL Medium */

  @font-face {
    font-family: "Beaufort";
    src: url("/src/assets/Fonts/BeaufortforLOL-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }

  /* Beaufort for LOL Bold */
  @font-face {
    font-family: "Beaufort";
    src: url("/src/assets/Fonts/BeaufortforLOL-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }

  /* Beaufort for LOL Heavy */

  @font-face {
    font-family: "Beaufort";
    src: url("/src/assets/Fonts/BeaufortforLOL-Heavy.woff") format("woff");
    font-weight: 800;
    font-style: normal;
  }

  /* Spiegel Regular */
  @font-face {
    font-family: "Spiegel";
    src: url("/src/assets/Fonts/Spiegel-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

  /* Spiegel SemiBold  */
  @font-face {
    font-family: "Spiegel";
    src: url("/src/assets/Fonts/Spiegel-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }

  /* Spiegel Bold */

  @font-face {
    font-family: "Spiegel";
    src: url("/src/assets/Fonts/Spiegel-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }

  /* text */
  .h1calcmd {
    font-size: calc(50.82px + 3.03vw);
  }
  .h1calc {
    font-size: calc(20.24px + 4.3vw);
  }

  .h2calc {
    font-size: calc(18.24px + 4.3vw);
  }
  .strong {
    @apply font-beaufort font-heavy uppercase h1calc sm:h1calcmd lg:text-6xl;
  }
  h1 {
    @apply font-beaufort font-heavy uppercase h1calc sm:h1calcmd lg:text-6xl;
  }

  h2 {
    @apply font-spiegel font-bold uppercase h2calc sm:text-5xl;
  }

  h3 {
    @apply font-spiegel font-semibold uppercase text-3xl sm:text-4xl;
  }

  h4 {
    @apply font-spiegel capitalize font-bold text-base sm:text-lg;
    letter-spacing: 0.54px;
    line-height: 20.7px;
  }

  h5 {
    @apply font-spiegel uppercase font-semibold text-xs sm:text-sm md:text-base lg:text-lg;
    letter-spacing: 2px;
    line-height: 11.5px;
  }

  p {
    @apply font-spiegel capitalize;
    font-size: 0.875rem;
    letter-spacing: 0.08em;
    line-height: 1.6;
  }
}
