@import "tailwindcss/base";
@import "./_base.css";

@import "tailwindcss/components";
@import "./_global.css";
@import "./login.css";
@import "./dashboard.css";
/* custom components here */
/* @import "./global.css"; */
/* @import "./home.css"; */

@import "tailwindcss/utilities";
/* utilities components here */

.drop-down {
  transform-origin: top center;
  transform: translateY(100%);
  transition: transform 1s ease-in;
}

.drop-up {
  transform: translateY(0);
}

.from-right {
  transform-origin: top center;
  transform: translateX(100%);
  transition: transform 1s ease-in;
}

.to-left {
  transform: translateX(0);
}

.from-left {
  transform-origin: top center;
  transform: translateX(-100%);
  transition: transform 1s ease-in;
}

.to-right {
  transform: translateX(0);
}

.anuma {
  transform-origin: top center;
  transform: translateX(0%);
  animation: sampleanimation 1s ease-in;
}

@keyframes sampleanimation {
  0% {
    transform: translateX(100%);
  }
  25% {
    transform: translateX(75%);
  }
  50% {
    transform: translateX(50%);
  }
  75% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes start {
  0% {
    background-color: red;
    left: 0px;
  }
  100% {
    background-color: yellow;
    left: 90%;
  }
}

@keyframes end {
  0% {
    background-color: yellow;
    left: 90%;
  }
  100% {
    background-color: red;
    left: 0px;
  }
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
}

.start-animation {
  animation-name: start;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.end-animation {
  animation-name: end;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

/* active links */

.active {
  @apply text-lotion;
}
