<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>

</head>
<body>
    <div id="v-app">
        <h1>  {{ chatRoomId }} </h1>
        <form>

            <input v-model="text" type="text" />
            <button type="submit" @click.prevent="sendMessage()">Send Message</button>
        </form>

        <form>

            <input v-model="roomName" type="text"/>
            <button type="submit" @click.prevent="createRoom()">Create Room</button>
        </form>

        <form>

            <input v-model="ChatRoomName" type="text"/>
            <button type="submit" @click.prevent="joinChatRoom()">Join Room</button>
        </form>

        <p>

            <h3> Available Rooms To Join </h3>
            <ul>
                <li v-for="room in Rooms"> {{ room }} </li>
            </ul>

        </p>
        <p>
            <h3 >    Room Messages {{ joinedRoom }}   </h3>
            <ul>
                <li v-for="msg of messages"> {{  msg  }} </li>

            </ul>


        </p>
    </div>
    <script>

        var app = new Vue({

            el: '#v-app',
            data: {
                user: '',
                chatRoomId: '',
                text: '',
                socket: null,
                messages: [],
                roomName: '',
                Rooms: [],
                room: '',
                joinedRoom: '',
                ChatRoomName: '',
            },
            methods: {

                sendMessage() {
                    // this.messages.push(this.text);
                    console.log(`send message to room ${this.joinedRoom} from ${this.Rooms}`);
                    if (this.joinedRoom) {
                        this.socket.emit('msgToServer', {"room": this.joinedRoom, "message": this.text});
                        this.text = "";
                    }
                },
                receiveMessage(msg) {
                    this.messages.push(msg);
                },
                createRoom() {
                
                    this.socket.emit('createRoom', this.roomName);
                    this.roomName = "";
                },
                RoomCreated(room) {
                    this.Rooms.push(room);
                }
                ,
                joinChatRoom() {
                    this.socket.emit('joinRoomToServer', this.ChatRoomName);
                    console.log(` joining ${this.ChatRoomName}`);
                    this.joinedRoom = this.ChatRoomName;
                    // this.socket.join(this.ChatRoomName);
                    this.ChatRoomName = "";
                },
                Roomjoined(room) {
                    console.log(`joined room succesfully : ${this.joinedRoom}`);
                }
            },
            created() { 
                
                this.socket = io('http://localhost:3500/');
                this.socket.on('msgToClient', (msg) => {
                    this.receiveMessage(msg);
                });

                this.socket.on('msgToClientifRoom', (msg, room) => {
                    if (this.joinedRoom === room)
                        this.receiveMessage(msg);
                })
                this.socket.on('RoomCreated', (room) => {
                    this.RoomCreated(room);
                });
                this.socket.on('joinRoomToClient', (room) => {
                    // this.socket.join(room);
                    this.RoomJoined(room);
                });

                
            }
        });

    </script>


</html>
</body>