@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* home icon basic style */

  .button {
    @apply uppercase font-spiegel font-bold shadow-md py-2 w-full text-xl rounded-2xl;
  }
  .homeIcon {
    @apply fill-lotion/50 group-hover:fill-pictonBlue;
  }

  .activeIcon {
    @apply fill-pictonBlue;
  }

  /* shining line basic style */
  .gradientSpaceCadet {
    @apply bg-gradient-to-b from-spaceCadet/95 via-spaceCadet to-spaceCadet/90 h-full w-[88px];
  }

  .shiningLine {
    @apply w-[5px] h-4/6 bg-transparent group-hover:bg-pictonBlue rounded-2xl group-hover:shadow-pictonBlue shadow-sm;
  }
  .activeShiningLine {
    @apply bg-pictonBlue;
  }
}

@layer base {
  /* FONTS */

  /* Beaufort for LOL Light */
  @font-face {
    font-family: "Beaufort";
    src: url("assets/Fonts/BeaufortforLOL-Light.woff") format("woff");
    font-weight: 200;
    font-style: normal;
  }

  /* Beaufort for LOL Normal */

  @font-face {
    font-family: "Beaufort";
    src: url("assets/Fonts/BeaufortforLOL-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

  /* Beaufort for LOL Medium */

  @font-face {
    font-family: "Beaufort";
    src: url("assets/Fonts/BeaufortforLOL-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }

  /* Beaufort for LOL Bold */
  @font-face {
    font-family: "Beaufort";
    src: url("assets/Fonts/BeaufortforLOL-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }

  /* Beaufort for LOL Heavy */

  @font-face {
    font-family: "Beaufort";
    src: url("assets/Fonts/BeaufortforLOL-Heavy.woff") format("woff");
    font-weight: 800;
    font-style: normal;
  }

  /* Spiegel Regular */
  @font-face {
    font-family: "Spiegel";
    src: url("assets/Fonts/Spiegel-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

  /* Spiegel SemiBold  */
  @font-face {
    font-family: "Spiegel";
    src: url("assets/Fonts/Spiegel-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }

  /* Spiegel Bold */

  @font-face {
    font-family: "Spiegel";
    src: url("assets/Fonts/Spiegel-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }
}
