@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .background-singin {
    background-color: #525254;
  }
  .background-singin2 {
    background-color: #eadece;
  }
  .inputElem {
    @apply block bg-transparent text-base  w-full py-[8px] rounded-xl border-2  capitalize font-light mt-2
				focus:outline-none  focus:ring-0 shadow-md focus:border-pictonBlue
				invalid:border-red/50 invalid:text-red/50 focus:invalid:border-red/50;
  }
  .button {
    @apply capitalize font-spiegel font-bold shadow-md py-2 w-full text-xl rounded-2xl transition ease-in-out delay-75;
  }

  .button42 {
    @apply bg-lotion text-spaceCadet hover:border-pictonBlue border-2 border-spaceCadet;
  }
  /* home icon basic style */

  .homeIcon {
    @apply fill-lotion/50 group-hover:fill-pictonBlue;
  }

  .activeIcon {
    @apply fill-pictonBlue;
  }

  /* shining line basic style */
  .gradientSpaceCadet {
    @apply bg-gradient-to-b from-spaceCadet/95 via-spaceCadet to-spaceCadet/90 h-full w-[88px];
  }

  .shiningLine {
    @apply w-[5px] h-4/6 bg-transparent group-hover:bg-pictonBlue rounded-2xl group-hover:shadow-pictonBlue shadow-sm;
  }
  .activeShiningLine {
    @apply bg-pictonBlue;
  }

  .ball {
    background: radial-gradient(
      circle at 50% 40%,
      #fdfdf9,
      #ffb027 66%,
      #9b5050 100%
    );
  }

  .ballbase {
    background: radial-gradient(
      circle at 50% 40%,
      #fdfdf9,
      #ffb027 66%,
      #9b5050 100%
    );
  }
}

@layer base {
  /* FONTS */

  .h1calcmd {
    font-size: calc(50.82px + 3.03vw);
  }
  .h1calc {
    font-size: calc(22.24px + 4.3vw);
  }

  .h2calc {
    font-size: calc(18.24px + 4.3vw);
  }
  h1 {
    @apply font-beaufort font-heavy uppercase h1calc sm:h1calcmd lg:text-6xl;
  }

  h2 {
    @apply font-spiegel font-bold uppercase h2calc sm:text-5xl;
  }

  h3 {
    @apply font-spiegel font-semibold uppercase text-3xl sm:text-4xl;
  }

  h4 {
    @apply font-spiegel capitalize font-bold text-base sm:text-lg md:text-xl lg:text-2xl;
    letter-spacing: 0.54px;
    line-height: 20.7px;
  }

  h5 {
    @apply font-spiegel uppercase font-semibold text-xs sm:text-sm md:text-base lg:text-lg;
    letter-spacing: 2px;
    line-height: 11.5px;
  }

  p {
    @apply font-spiegel capitalize;
    font-size: 0.875rem;
    letter-spacing: 0.08em;
    line-height: 1.6;
  }
  /* Beaufort for LOL Light */
  @font-face {
    font-family: "Beaufort";
    src: url("assets/Fonts/BeaufortforLOL-Light.woff") format("woff");
    font-weight: 200;
    font-style: normal;
  }

  /* Beaufort for LOL Normal */

  @font-face {
    font-family: "Beaufort";
    src: url("assets/Fonts/BeaufortforLOL-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

  /* Beaufort for LOL Medium */

  @font-face {
    font-family: "Beaufort";
    src: url("assets/Fonts/BeaufortforLOL-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }

  /* Beaufort for LOL Bold */
  @font-face {
    font-family: "Beaufort";
    src: url("assets/Fonts/BeaufortforLOL-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }

  /* Beaufort for LOL Heavy */

  @font-face {
    font-family: "Beaufort";
    src: url("assets/Fonts/BeaufortforLOL-Heavy.woff") format("woff");
    font-weight: 800;
    font-style: normal;
  }

  /* Spiegel Regular */
  @font-face {
    font-family: "Spiegel";
    src: url("assets/Fonts/Spiegel-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

  /* Spiegel SemiBold  */
  @font-face {
    font-family: "Spiegel";
    src: url("assets/Fonts/Spiegel-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }

  /* Spiegel Bold */

  @font-face {
    font-family: "Spiegel";
    src: url("assets/Fonts/Spiegel-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }
}
